pytest==4.3.1
numpy==1.16.2
Cython==0.29.6
pyOpenSSL==19.0.0
cryptography==2.6.1
cx_Oracle==7.1.2
protobuf==3.7.0
ipaddr==2.2.0
lxml==4.3.2
mock==2.0.0
ordereddict==1.1
psycopg2==2.7.7
simplejson==3.16.0
wincertstore==0.2
PyYAML==5.1
fhirbase
requests
pytest-cov
